.full-width {
  width: 100% !important;
}

.flex-fill {
  display: flex;
  flex: 1 100%;
}

.flex-section-fill-right {
  display: flex;
  flex-direction: row;
  flex: 2 100%;
  justify-content: flex-end;
  width: 100% ! important;
}
