<!-- wrapper should be extracted as new pages are added -->
<div class="page-wrapper" *ngIf="signUpForm">
  <mat-card class="page-wrapper-narrow">
    <form class="flex-fill">
      <app-text-field title="FIELDS.FIRST_NAME" [control]="firstName"></app-text-field>
      <app-text-field title="FIELDS.LAST_NAME" [control]="lastName"></app-text-field>
      <app-email-field title="FIELDS.EMAIL" [control]="email"></app-email-field>
      <mat-error *ngIf="email.dirty && email.errors">
        <span>{{ 'VALIDATION.EMAIL_INVALID' | translate }}</span>
      </mat-error>
      <app-email-field title="FIELDS.EMAIL_VERIFY" [control]="emailVerify"></app-email-field>
      <mat-error *ngIf="emailVerify.dirty && email.valid && emailVerify.errors">
        <span>{{ 'VALIDATION.EMAIL_VERIFY_MISMATCH' | translate }}</span>
      </mat-error>
      <app-password-field title="FIELDS.PASSWORD" [control]="password"></app-password-field>
      <mat-error class="error-message" *ngIf="password.dirty && password.errors">
        <span>{{ 'VALIDATION.PASSWORD_INVALID' | translate }}</span>
      </mat-error>
      <app-password-field title="FIELDS.PASSWORD_VERIFY" [control]="passwordVerify"></app-password-field>
      <mat-error *ngIf="passwordVerify.dirty && passwordVerify.errors">
        <span>{{ 'VALIDATION.PASSWORD_VERIFY_MISMATCH' | translate }}</span>
      </mat-error>
      <div class="flex-section-fill-right">
        <mat-error *ngIf="notFinished && !signUpForm.valid">
          <span>{{ 'VALIDATION.FINISH_FORM' | translate }}</span>
        </mat-error>
        <button type="button" class="footer-button" (click)="submit()" mat-raised-button color="accent">
          {{ 'BUTTONS.SUBMIT' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
