.footer {
  margin-top: 10vh;
  display: flex;
  position:absolute;
  bottom:0;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  color: #fff;
  align-items: center;
  background-color: grey;
  height: 5vw;
}
